asgiref==3.8.1
dj-database-url==2.2.0
Django==5.0.6
django-ckeditor==6.7.1
django-js-asset==2.2.0
django-rest-passwordreset==1.4.1
gunicorn==22.0.0
packaging==24.0
pillow==10.3.0
postgres==4.0
psycopg2-binary==2.9.9
psycopg2-pool==1.2
split==0.4
sqlparse==0.5.0
typing_extensions==4.12.2
