<!--================ Start Forgot Password Area =================-->

<!--================ Start Content Area =================-->

{% extends 'core/base.html' %}
{% block title %} Forgot Password {% endblock %}
{% block content %}
<section class="blog-banner-area" id="category">
   <div class="container h-100">
      <div class="blog-banner">
         <div class="text-center">
            <h1>Forgot Password</h1>
            <nav aria-label="breadcrumb" class="banner-breadcrumb">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Forgot Password</li>
               </ol>
            </nav>
         </div>
      </div>
   </div>
</section>
<!-- ================ End Content Area ================= -->
<!-- Alerts -->
<section style="padding-top: 20px;" >
</section>
<!--================Login Box Area =================-->
<section class="login_box_area section-margin">
   <div class="container">
      <div class="row">
         <div class="col-lg-6">
            <div class="login_box_img">
               <div class="hover">
                  <img style="width: 70%;" src="{{ item.image.url }}" alt="">
               </div>
            </div>
         </div>
         <div class="col-lg-6">
            <div class="login_form_inner">
               <h3>Enter Email To Forgot Password</h3>
               <form class="row login_form">
                  <div class="col-md-12 form-group">
                     <input type="text" class="form-control" id="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'">
                  </div>
                  <div class="col-md-12 form-group">
                    <button type="submit" value="submit" class="button  w-100">Send OTP</button>
                 </div>
               </form>
                  <form method="post">
                     {% csrf_token %}
                     {{ form }}
                     <input type="submit" value="Submit">
               </form>
              
              
            </div>
         </div>
      </div>
   </div>
</section>
 <!--================End Login Box Area =================-->
{% endblock %}

<!--================ End Forgot Password Area =================-->